@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Roboto:wght@300;400;500;700&display=swap");

/*GENERICS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}
.Row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.Star {
  font-size: 20px;
  color: #ffcd3c;
  margin-bottom: 24px;
}

.Text-Small {
  font-size: 14px;
}

.Text-Small-Caps {
  font-size: 12px;
}

.Text-Semi-Large {
  font-size: 36px;
}

.Text-Large {
  font-size: 48px;
}

.Text-Medium {
  font-size: 20px;
}

.Purple {
  color: #6415ff;
}

.Black {
  color: #1a202c;
}

.Grey {
  color: #243e63;
}

.Light-Grey {
  color: #a0aec0;
}

.Dark-Grey {
  color: #7c8ba1;
}

.Section-Title {
  font-size: 16px;
  color: #6415ff;
  margin-bottom: 16px;
}

.Purple-Button {
  color: #fff;
  border: none;
  font-size: 14px;
  padding: 12px 32px;
  background-color: #6415ff;
  border-radius: 24px;
  position: relative;
}

/*NAVIGATION BAR*/

.Nav-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Treact {
  height: 100%;
  display: flex;
  align-items: center;
}

.Nav-Logo-Wrapper {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.Nav-Logo-Image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Nav-Title {
  font-size: 24px;
  font-weight: 700;
}

.Nav-Link-Wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.Nav-Link {
  margin: 0 24px;
  font-size: 14px;
  position: relative;
  transition: all 300ms ease;
}

.Nav-Link:not(:last-child):after {
  content: "";
  width: 10%;
  height: 2px;
  bottom: -2px;
  right: 0;
  opacity: 0;
  position: absolute;
  background-color: #6415ff;
  transition: all 300ms ease;
}

.Nav-Link:hover:not(:last-child):after {
  opacity: 1;
  width: 100%;
  left: 0;
}

.Nav-Link:hover:not(:last-child) {
  color: #6415ff;

}

/*Creating Hamburger Menu*/

.Hamburger-Icon-Open {
  content: "";
  position: absolute;
  border: none;
  color: #6415ff;
  background-color: transparent;
  right: 24px;
  font-size: 24px;
  transform: translateX(-100%);
  visibility: hidden;
}

.Backdrop-Menu {
  visibility: hidden;
  z-index: 5;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Hamburger-Icon-Close {
  content: "";
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 24px;
  color: #6415ff;
  border: none;
  background-color: transparent;
}

.Menu-Link-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3;
}

.Menu-Open {
  .Backdrop-Menu {
    visibility: visible;
  }
}

/*LANDING-PAGE*/

#Landing-Page {
  padding: 32px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Flex {
  display: flex;
}

.Flex-1 {
  flex: 1;
}

.Landing-Container {
  display: flex;
  padding: 6rem 0;
}

.Section-Info-Container {
  width: 50%;
  margin-right: 24px;
}

.Landing-Para,
.Quality-Para {
  margin: 32px 0;
  max-width: 80%;
  font-size: 18px;
  font-weight: 300;
}

.Landing-Info {
  display: flex;
  flex-direction: column;
}

/*Adding Landing-Input*/

.Sign-In-Wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Email-Input {
  width: 100%;
  border-radius: 36px;
  border-color: rgb(124, 139, 161, 0.3);
  padding: 24px 0 24px 32px;
  background-color: transparent;
}

.Email-Input::placeholder {
  font-size: 16px;
  color: rgb(124, 139, 161, 0.3);
}

.Landing-Button {
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 36px;
  background-color: #6415ff;
  content: "";
  position: absolute;
  right: 8px; top: 8px;
}

/*Adding Landing-Input*/

.Company-List {
  padding-top: 80px;
}

.Company-Image-Wrapper {
  display: flex;
  margin-top: 16px;
  padding-right: 120px;
}

.Company-Image {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  object-fit: contain;
}

.Section-Image-Container {
  width: 50%;
}

.Treact-Landing-Wrapper {
  display: flex;
}

.Treact-Landing-Image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*FEATURES*/

#Features,
#Quality-Work,
#Steps,
#Pricing,
#Testimonials,
#Contact {
  padding: 96px 32px;
}

.Features-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Feature-Info {
  text-align: center;
}

.Feature-Para {
  padding-top: 16px;
  font-weight: 300;
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
}

.Feature-Wrapper {
  margin-top: 72px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Feature {
  width: 30%;
  display: flex;
  padding: 24px;
  justify-content: space-between;
}

.Icon-Wrapper {
  padding: 20px;
  max-width: 66px;
  max-height: 66px;
  border: 1px solid #a0aec0;
  border-radius: 100%;
}

.Icon-Info {
  padding-left: 24px;
}

.Icon-Title {
  margin-bottom: 16px;
}

.Icon-Para {
  line-height: 1.5;
}

/*QUALITY WORK*/

.Quality-Work-Container {
  display: flex;
}

#Quality-Work .Section-Info-Container {
  width: 50%;
  padding-right: 24px;
}

.Quality-Para {
  max-width: none;
}

#Quality-Work {
  .Purple-Button {
    font-size: 16px;
  }
}

/*STEPS*/

#Steps,
#Testimonials {
  .Section-Info-Container {
    margin-left: 48px;
    margin-right: 0px;
  }
}

.Step {
  display: flex;
  margin-top: 24px;
  height: calc(100% / 3);
}

.Step-Info {
  margin-left: 24px;
}

.Step-Para {
  margin-top: 20px;
  max-width: 70%;
}

/*PRICING*/

.Plan-Wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 48px;
}

.Plan {
  width: 30%;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(124, 139, 161, 0.3);
}

.Plan-Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px;
  border-bottom: 2px solid rgb(124, 139, 161, 0.3);
}

.Plan-Section:nth-child(3) {
  border-bottom: none;
}

.Plan-Para {
  margin-top: 24px;
}

.Plan-Button {
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 20px 64px;
  background: linear-gradient(rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
  border-radius: 32px;
}

.Plan-Section:nth-child(1)::before {
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  height: 8px;
  position: absolute;
  background: linear-gradient(rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.Plan:nth-child(2) {
  color: white;
  border: none;
  background-image: linear-gradient(
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );

  .Plan-Button:hover {
    background-image: linear-gradient(
      rgb(76, 81, 191) 0%,
      rgb(102, 126, 234) 100%
    );
    color: #FFF;
  }

  .Plan-Button {
    color: #6415ff;
    background: white;
    transition: all 300ms ease;
  }

  .Plan-Para {
    color: white;
  }

  .Plan-Section {
    border-bottom: 2px solid rgb(124, 139, 161, 0.7);
  }

  .Plan-Section:nth-child(3) {
    border-bottom: none;
  }

  .Plan-Section:nth-child(1)::before {
    display: none;
  }
}

.Plan:nth-child(3) {
  .Plan-Button {
    background: linear-gradient(rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
  }

  .Plan-Section:nth-child(1)::before {
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 8px;
    position: absolute;
    background: linear-gradient(rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
  }
}

/*TESTIMONIALS*/

.Testimonials-Container {
  display: flex;
}

.Testimonials-Para {
  margin: 32px 0;
}

.Profile {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  align-items: center;
}

.Profile-Wrapper {
  display: flex;
}

.Profile-Info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.Profile-Image-Wrapper {
  max-width: 80px;
  max-height: 80px;
  margin-right: 24px;
}

.Profile-Image {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: contain;
}

.Arrow-Wrapper,
.Footer-Icon-Wrapper {
  display: flex;
}

.Arrow,
.Footer-Icon {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  color: #6415ff;
  background-color: #edf2f7;
  border: 1px solid #edf2f7;
  border-radius: 100%;
  margin: 0 16px;
}

/*CONTACT*/

.Contact-Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6415ff;
  padding: 96px 64px;
  border-radius: 12px;
}

.Contact-Title {
  width: 50%;
  color: #fff;
}

.Contact-Button-Wrapper {
  display: flex;
  align-items: center;
}

.Contact-Button {
  padding: 20px 40px;
  border-radius: 32px;
  font-size: 18px;
  color: #fff;
  border: 1px solid #7c8ba1;
  background-color: transparent;
  transition: all 300ms ease;
}

.Contact-Button:nth-child(1) {
  margin-right: 24px;
  background-color: #f56565;
}

.Contact-Button:nth-child(2):hover {
  background-color: white;
  color: #6415ff;
}

/*FOOTER*/

footer {
  margin-top: 96px;
  padding: 96px 32px;
  color: #fff;
  background-color: #6415ff;
}

.Footer-Info {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Footer-Link-Wrapper {
  display: flex;
  justify-content: space-between;
}

.Footer-Sub-Title {
  font-size: 16px;
  margin: 24px 0;
}

.Footer-Link {
  font-size: 14px;
  margin: 12px 0;
  position: relative;
  cursor: pointer;
}

.Footer-Link::after {
  content: "";
  width: 10%;
  height: 2px;
  bottom: -2px;
  right: 0;
  opacity: 0;
  position: absolute;
  background-color: #FFF;
  transition: all 300ms ease;
}

.Footer-Link:hover::after {
  opacity: 1;
  width: 100%;
  left: 0;
}

.Grey-Line {
  width: 100%;
  height: 2px;
  margin: 48px 0;
  background-color: rgb(160, 174, 192, 0.2);
}

.Footer-Bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer-Icon {
  color: #242424;
}

/*RESPONSIVENESS*/

@media (max-width: 980px) {
  /*LANDING-PAGEE*/

  #Landing-Page {
    .Sign-In-Wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Nav-Link {
      display: none;
    }

    .Hamburger-Icon-Open {
      visibility: visible;
    }

    .Landing-Container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Section-Image-Container,
    .Section-Info-Container {
      width: 100%;
      max-width: 512px;
      margin-right: 0;
    }

    .Section-Sub-Title {
      font-size: 30px;
    }

    .Landing-Info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Company-List {
      padding: 48px 0 24px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Company-Image-Wrapper {
      padding: 0;
    }
    .Landing-Para {
      text-align: center;
    }
  }

  /*FEATURES*/

  #Features {
    .Feature {
      width: 50%;
    }
    .Section-Sub-Title {
      font-size: 36px;
    }
  }

  /*Quality*/

  #Quality-Work {
    .Section-Info-Container {
      margin: 0;
    }

    .Section-Sub-Title {
      font-size: 32px;
    }

    .Quality-Para {
      font-size: 16px;
    }
  }

  /*STEPS*/

  #Steps {
    .Section-Sub-Title {
      font-size: 32px;
    }

    .Text-Semi-Large {
      font-size: 32px;
    }
  }

  /*PRICING*/

  #Pricing {
    .Section-Sub-Title {
      font-size: 32px;
    }

    .Feature-Para {
      font-size: 16px;
    }

    .Plan {
      .Text-Large {
        font-size: 24px;
      }
      .Text-Medium {
        font-size: 18px;
      }

      .Plan-Button {
        font-size: 16px;
        padding: 18px 36px;
      }
    }
  }

  /*TESTIMONIALS*/

  #Testimonials {
    .Section-Sub-Title {
      font-size: 32px;
    }

    .Testimonials-Para {
      font-size: 16px;
      font-weight: 300;
    }

    .Profile-Wrapper {
      .Text-Medium {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    }
  }

  /*CONTACT*/

  #Contact {
    .Contact-Button-Wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .Contact-Button {
      margin: 12px 0;
    }
    .Text-Semi-Large {
      font-size: 30px;
    }
  }

  /*FOOTER*/

  .Footer-Bar {
    .Text-Medium {
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  /*LANDING-PAGE*/

  #Landing-Page {
    .Section-Info-Container {
      margin-right: 0;
    }
  }

  /*FEATURES*/

  #Features {
    .Section-Sub-Title {
      font-size: 32px;
    }

    .Feature-Para {
      font-size: 16px;
    }

    .Icon-Info {
      font-size: 14px;
    }

    .Icon-Title {
      font-size: 16px;
    }
  }

  /*QUALITY And STEPS*/

  #Quality-Work,
  #Steps {
    .Quality-Work-Container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Section-Image-Container,
    .Section-Info-Container {
      width: 100%;
      max-width: 512px;
    }

    .Section-Info-Container {
      padding: 0 0 96px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Section-Sub-Title {
      max-width: 500px;
      text-align: center;
    }

    .Quality-Para {
      text-align: center;
    }
  }

  #Steps {
    .Section-Info-Container {
      margin: 0;
      padding: 96px 0 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Step {
      display: flex;
      justify-content: center;
      margin-top: 48px;
    }

    .Step-Info {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-left: 0;
    }
  }

  /*PRICING*/

  #Pricing {
    .Plan-Wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Plan {
      width: 100%;
      max-width: 400px;
      margin-bottom: 96px;
    }

    .Feature-Para {
      max-width: 512px;
      margin: 0 auto;
    }
  }

  /*TESTIMONIALS*/

  #Testimonials {
    .Testimonials-Container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Section-Image-Container,
    .Section-Info-Container {
      width: 100%;
      max-width: 512px;
    }

    .Section-Info-Container {
      margin: 48px 0 0 0;
    }
  }

  /*CONTACT*/

  #Contact {
    .Text-Semi-Large {
      font-size: 24px;
    }

    .Contact-Button {
      font-size: 16px;
      padding: 16px 36px;
    }
  }

  /*FOOTER*/

  .Footer-Link-Wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

  .Footer-Info {
    width: 30%;
    padding: 24px;
    text-align: center;
  }

  .Footer-Bar {
    display: flex;
    justify-content: center;

    .Footer-Icon,
    .Text-Medium {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  /*LANDING-PAGE*/

  #Landing-Page {
    .Sign-In-Wrapper {
      width: 100%;
    }

    .Landing-Button {
      left: 0;
      right: 0;
      bottom: 0;
      padding: 16px 0;
      transform: translateY(130%);
    }
    .Section-Info-Container {
      margin-right: 0;
      padding-bottom: 24px;
    }
    .Section-Sub-Title {
      font-size: 30px;
      text-align: center;
      max-width: 300px;
    }
    .Landing-Para {
      font-size: 16px;
      text-align: center;
    }
    .Company-List {
      padding: 0 24px;
      padding-top: 120px;
    }

    .Section-Info-Container {
      margin-right: 0;
    }
  }

  /*FEATURES*/

  #Features {
    .Feature {
      width: 100%;
    }
    .Section-Sub-Title {
      font-size: 30px;
    }
    .Feature-Para {
      font-size: 16px;
    }
    .Icon-Para {
      font-size: 16px;
    }
    .Icon-Title {
      font-size: 18px;
    }
  }

  /*QUALITY*/

  #Quality-Work,
  #Steps,
  #Pricing,
  #Testimonials {
    .Section-Sub-Title {
      font-size: 30px;
    }
  }

  /*CONTACT*/

  #Contact {
    .Contact-Container {
      display: flex;
      flex-direction: column;
    }
    .Contact-Title {
      width: 100%;
      text-align: center;
      margin-bottom: 24px;
    }
    .Text-Semi-Large {
      font-size: 20px;
    }
  }

  /*FOOTER*/

  .Footer-Info {
    width: 50%;
  }
}

@media (max-width: 475px) {
  /*LANDING-PAGE*/
  #Landing-Page {
    .Section-Sub-Title {
      font-size: 28px;
    }
    .Email-Input {
      width: 100%;
    }
    .Landing-Para {
      font-size: 14px;
    }
  }

  /*FEATURES*/

  #Features {
    .Section-Sub-Title {
      font-size: 28px;
    }
    .Feature-Para,
    .Icon-Para {
      font-size: 14px;
    }
  }

  /*QUALITY*/
  #Quality-Work {
    .Section-Sub-Title {
      font-size: 28px;
    }
    .Quality-Para {
      font-size: 14px;
    }
  }

  /*STEPS*/
  #Steps {
    .Section-Sub-Title {
      font-size: 28px;
    }
    .Text-Semi-Large {
      font-size: 28px;
    }
    .Text-Medium {
      font-size: 18px;
    }
    .Step-Para {
      font-size: 14px;
    }
  }

  /*PRICING*/
  #Pricing {
    .Section-Sub-Title {
      font-size: 28px;
    }
    .Feature-Para,
    .Plan-Para {
      font-size: 14px;
    }
  }

  /*TESTIMONIALS*/
  #Testimonials {
    .Section-Sub-Title {
      font-size: 28px;
    }
    .Testimonials-Para {
      font-size: 14px;
    }
  }
}
